.todoContainer {
    margin-left: 328px;
    width: 100%;
    height: 100%;
    padding: 45px 68px 14px 76px;

    .status-text {
        font-size: 10px;
    }

    .invite {
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
    }

    .invite__title {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .invite__list {
        align-content: center;
    }

    .invite__title-hand {
        width: 42px;
        height: 41px;
    }

    .invite__list-btn {
        padding: 11px 13px 7px 20px;
        display: flex;
        gap: 7px;
        width: 98px;
        height: 36px;
        border: 1px solid #FF6767;
        border-radius: 8px;
    }

    .info {
        border: 1px solid #A1A3AB;
        width: 968px;
        height: auto;
        padding: 22px 26px 20px 26px;

    }

    .info__container {
        display: flex;
        gap: 16px;
        width: 906px;
        height: auto;
    }

    .todos {
        width: 466px;
        background-color: #F5F8FF;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
        padding: 20px 23px 46px 23px;
        border-radius: 14px;
    }

    .todos__title {
        display: flex;
        justify-content: space-between;
    }

    .todos__title-left {
        width: 77px;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .todos__title-right {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 96px;
    }

    .left-img {
        width: 28px;
        height: 31px;
    }

    .right-img {
        width: 19px;
        height: 19px;
    }

    .info__todos-time {
        display: flex;
        margin: 10px 0 18px 0;
        gap: 11px;
    }

    .todos__cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card__center {
        display: flex;
        gap: 10px;
        margin: 10px 0;
    }

    .card__center-img {
        width: 88px;
        height: 88px;
    }

    .todos__card {
        width: 402px;
        height: 166px;
        border: 1px solid #A1A3AB;
        border-radius: 14px;
        padding: 9px 13px 13px 4px;
        display: flex;
        gap: 3px
    }

    .card-container {
        display: flex;
        gap: 15px;
    }

    .card__info-center {
        margin-top: 10px;
        margin-bottom: 29px;
        width: 232px;
        height: 51px;
    }

    .card-working {
        display: flex;
        justify-content: space-between;
    }

    .todos-color {
        width: 12px;
        height: 12px;
    }

    .todos-menu {
        width: 14px;
        height: 3px;
    }

    .plane {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .plane__status {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
        border-radius: 14px;
        width: 423px;
        height: auto;
    }

    .plane__complete {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
        border-radius: 14px;
        width: 423px;
        height: 436px;
    }

    .status__title {
        padding: 24px 14px 44px 20px;
        display: flex;
        gap: 9px;
    }


}