.vital-task {
    margin-left: 404px;
    margin-top: 85px;
    display: flex;
    gap: 17px;
}

.todos {
    width: auto;
    height: auto;
}

.orange {
    width: 31px;
    height: 3px;
    background: #F24E1E;
    border: none;
    margin: 4px 0;
}

.todos__cards {
    margin-top: 14px;
}
